.notifications-body {
  font-family: "Roboto", sans-serif;
  padding-top: 40px;
  background: #eff1f3;
  min-height: 100vh;
  position: relative;
}

.section-50 {
  padding: 50px 0;
}

.m-b-50 {
  margin-bottom: 50px;
}

.dark-link {
  color: #333;
}

.heading-line {
  position: relative;
  padding-bottom: 5px;
}

.heading-line:after {
  content: "";
  height: 4px;
  width: 75px;
  background-color: #007bff;
  position: absolute;
  bottom: 0;
  left: 0;
}

.notification-ui_dd-content {
  margin-bottom: 30px;
}

.notification-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 20px;
  margin-bottom: 7px;
  background: #fff;
  -webkit-box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.06);
  cursor: pointer;
}

.notification-list--unread {
  border-left: 2px solid #007bff;
}

.notification-list .notification-list_content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 800px;
}

.notification-list .notification-list_content .notification-list_img {
  height: 48px;
  width: 48px;
  border-radius: 50px;
  margin-right: 35px;
  padding: 10px;
}

.notification-list .notification-list_content .notification-list_detail p {
  margin-bottom: 5px;
  line-height: 1.2;
}

.notification-list .notification-list_feature-markasread {
  height: 70px;
  width: 160px;
  margin: auto 0px;
}

.notification-list .notification-list_feature-markasread .mark-as-read {
  margin: 18px;
}

.notification-list .star {
  height: 32px;
  width: 30px;
  margin: 22px 0px;
}

*:focus {
  outline: none !important;
}
